# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.perspectivev3
!default.perspectivev3
*.moved-aside
*.xccheckout
*.xcscmblueprint
xcuserdata/
*.hmap
*.ipa
*.dSYM
*.dSYM.zip

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/test_output
fastlane/screenshots/**/*.png
